<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}
<html lang="ru" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Radio Station</title>
<link rel="stylesheet" type="text/css" href={% static "css/style.css" %} media="screen" />
</head>

<body>
<div id="main_container">

	<div id="header">
		<div id="logo"><a href="index.html"><img src={% static "img/main_cactus_logo.png" %} alt="" title="" border="0" /></a></div>
		<div class="on_air"><img src={% static "img/logo_g.png"  %} alt="" title="" border="0" /></div>
    </div>
    
    <div id="menu">
        <ul>                                                                                                                      
            <li><a href="#" title="">Главное</a></li>
            <li><a href="#" title="">Новости</a></li>
            <li><a href="#" title="">Архив электронных выпусков журнала</a></li>
            <li><a href="#" title="">Электронный журнал</a></li>
            <li><a href="#" title="">Литература</a></li>
            <li><a href="#" title="">Каталоги</a></li>
            <li><a href="#" title="">Атребутика</a></li>
            <li><a href="#" title="">Фотогалерея</a></li>
            <li><a href="#" title="">Члены клуба</a> </li>
        </ul>
    </div>
    
    <div class="left_content">
    <div class="title">Добро пожаловать на сайт московского клуба любителей кактусов</div>
	<p>
	<img src={% static "img/earphones.gif"  %} alt="" title="" class="left_img" />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>  
     <div class="title">Latest Shows</div>
     
    <div class="left_shows">
    	<div class="show_date">20.07.09</div>
        <div class="show_text_content">
“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
		</div> 
        <a href="#" class="more_details">more details</a>  
    </div>
    
    <div class="left_shows">
    	<div class="show_date">20.07.09</div>
        <div class="show_text_content">
“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
		</div> 
        <a href="#" class="more_details">more details</a>  
    </div>    
    
    
    <div class="left_shows">
    	<div class="show_date">20.07.09</div>
        <div class="show_text_content">
“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
		</div> 
        <a href="#" class="more_details">more details</a>  
    </div>  
    
    
    <div class="title">Photo Gallery</div>  
    
    <div class="photo_gallery">
	    <div class="left_nav"><a href="#"><img src={% static "img/left_arrow.gif" %} alt="" title="" border="0" /></a></div>
        <div class="gallery_thumbs">
		<a href="#"><img src={% static "img/photo.gif" %} alt="" class="gallery_thumb" border="0" /></a>
		<a href="#"><img src={% static "img/photo.gif" %} alt="" class="gallery_thumb" border="0" /></a>
		<a href="#"><img src={% static "img/photo.gif" %} alt="" class="gallery_thumb" border="0" /></a>
        </div>
	<div class="right_nav"><a href="#"><img src={% static "img/right_arrow.gif" %} alt="" title="" border="0" /></a></div>
    </div>
     
    
    </div>
    
    <div class="right_content">
    	
	    <a href="#"><img src={% static "img/listen_live.gif" %} alt="" title="" class="listen_live" border="0" /></a>
        
        <div class="track_name">
         <p>Track name - 10:23 </p>       
        </div>
  

     <div class="title">Our news</div>
     
     
    <div class="right_news">
    	<div class="news_date">16.01</div>
        <div class="news_content">
        <span class="red">Тема доклада 1 </span><br />
Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</div>
    </div>
  
    
    <div class="right_news">
    	<div class="news_date">30.02</div>
        <div class="news_content">
        <span class="red">Тема доклада 2</span><br />
Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</div>  
    </div>    
    
    
    <div class="right_news">
    	<div class="news_date">30.03</div>
        <div class="news_content">
        <span class="red">Тема доклада 3</span><br />
Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</div>  
    </div>   
    
    
     <div class="right_news">
    	<div class="news_date">17.04</div>
        <div class="news_content">
        <span class="red">Тема доклада 4</span><br />
Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
		</div>  
    </div>    
    
    
    
    </div>
    


     <div id="footer">
    	<div class="footer_links">                      
        <a href="#">home</a>
        <a href="#">listen live</a>
        <a href="#">about the team</a>
        <a href="#">contact us </a>
        
        </div>
        
     	<div class="copyright">
		<a href="http://csstemplatesmarket.com"><img src={% static "img/csstemplatesmarket.gif" %} border="0" alt="" title="" /></a>
        </div>    
    
    </div> 


</div>
</body>
</html>
