<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>МКЛК</title>
    <link rel="stylesheet" type="text/css" href={% static
    "css/style.css" %} media="screen" />
</head>

<body>
<div id="main_container">

    <div id="header">
        <div id="logo"><a href="../main/templates/index.html"><img src={% static "img/main_cactus_logo.png" %} alt=""
            title="" border="0"
            /></a></div>
        <div class="on_air"><img src={% static "img/logo_g.png" %} alt="" title="" border="0" /></div>
    </div>

    <div id="menu">
        <ul>
            <li><a href="#" title="">Главное</a></li>
            <li><a href="#" title="">Новости</a></li>
            <li><a href="#" title="">Архив электронных выпусков журнала</a></li>
            <li><a href="#" title="">Электронный журнал</a></li>
            <li><a href="#" title="">Литература</a></li>
            <li><a href="#" title="">Каталоги</a></li>
            <li><a href="#" title="">Атребутика</a></li>
            <li><a href="#" title="">Фотогалерея</a></li>
            <li><a href="#" title="">Члены клуба</a></li>
        </ul>
    </div>

    <div class="left_content">
        <div class="title">Добро пожаловать на сайт Московского Кактус клуба</div>
        <p>
            <!--img src={% static "img/earphones.gif"  %} alt="" title="" class="left_img" /-->
            Какой то текст приветсвия
        </p>
        <div class="title">Недавние события</div>
        <div class="left_shows">
            <div class="show_date">19.12.18</div>
            <div class="show_text_content">
                Описание новости.
            </div>
            <a href="#" class="more_details"> Детали... </a>
        </div>

        <div class="left_shows">
            <div class="show_date">21.11.18</div>
            <div class="show_text_content">
                Описание новости.
            </div>
            <a href="#" class="more_details">Детали... </a>
        </div>


        <div class="left_shows">
            <div class="show_date">17.10.18</div>
            <div class="show_text_content">
                Описание новости.
            </div>
            <a href="#" class="more_details">Детали... </a>
        </div>


        <div class="title">Галерея</div>

        <div class="photo_gallery">
            <div class="left_nav"><a href="#"><img src={% static "img/left_arrow.gif" %} alt="" title="" border="0"
                /></a></div>
            <div class="gallery_thumbs">
                <a href="#"><img width="120" height="90" src={% static "img/cactus1.jpg" %} alt="" class="gallery_thumb"
                    border="0" /></a>
                <a href="#"><img width="120" height="90" src={% static "img/cactus2.jpg" %} alt="" class="gallery_thumb"
                    border="0" /></a>
                <a href="#"><img width="120" height="90" src={% static "img/cactus3.jpg" %} alt="" class="gallery_thumb"
                    border="0" /></a>
            </div>
            <div class="right_nav"><a href="#"><img src={% static "img/right_arrow.gif" %} alt="" title="" border="0" /></a>
            </div>
        </div>


    </div>

    <div class="right_content">

        <div class="title">Новости</div>


        <div class="right_news">
            <div class="news_date">16.01</div>
            <div class="news_content">
                <span class="red">Тема доклада 1 </span><br/>
                Описание
            </div>
        </div>


        <div class="right_news">
            <div class="news_date">30.02</div>
            <div class="news_content">
                <span class="red">Тема доклада 2</span><br/>
                Описание
            </div>
        </div>


        <div class="right_news">
            <div class="news_date">30.03</div>
            <div class="news_content">
                <span class="red">Тема доклада 3</span><br/>
                Описание
            </div>
        </div>


        <div class="right_news">
            <div class="news_date">17.04</div>
            <div class="news_content">
                <span class="red">Тема доклада 4</span><br/>
                Описание
            </div>
        </div>


    </div>


</div>


<div id="footer">
    <div class="footer_links">
        <a href="#">На главную</a>
        <a href="#">Контакты</a>
    </div>

    <div class="copyright">
        <a href="http://csstemplatesmarket.com"><img src={% static "img/foot_logo.png" %} border="0" alt="" title="" /></a>
    </div>

</div>


</div>
</body>
</html>
