{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div>
    <p>
        <img src="{% static "img/members/Scelcunova.jpg" %}" id="member_photo">
        <h3>Обязаннасти: Президент клуба</h3>
        <h4>Специализация: Какие то рода</h4>
        Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст

    </p>
    </div>
{% endblock %}