{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="left_content">
    <div class="title">Добро пожаловать на сайт Московского Кактус клуба</div>
    <p>
        Какой то текст приветсвия
    </p>
    <div class="title">Недавние события</div>
    <div class="left_shows">
        <div class="show_date">19.12.18</div>
        <div class="show_text_content">
            Описание новости.
        </div>
        <a href="#" class="more_details"> Детали... </a>
    </div>
    <div class="left_shows">
        <div class="show_date">21.11.18</div>
        <div class="show_text_content">
            Описание новости.
        </div>
        <a href="#" class="more_details">Детали... </a>
    </div>
    <div class="left_shows">
        <div class="show_date">17.10.18</div>
        <div class="show_text_content">
            Описание новости.
        </div>
        <a href="#" class="more_details">Детали... </a>
    </div>
    <div class="title">Галерея</div>

    <div class="photo_gallery">
        <div class="left_nav"><a href="#"><img src={% static "img/left_arrow.gif" %} alt="" title="" border="0"
            /></a></div>
        <div class="gallery_thumbs">
            <a href="#"><img width="120" height="90" src={% static "img/cactus1.jpg" %} alt="" class="gallery_thumb"
                border="0" /></a>
            <a href="#"><img width="120" height="90" src={% static "img/cactus2.jpg" %} alt="" class="gallery_thumb"
                border="0" /></a>
            <a href="#"><img width="120" height="90" src={% static "img/cactus3.jpg" %} alt="" class="gallery_thumb"
                border="0" /></a>
        </div>
        <div class="right_nav"><a href="#"><img src={% static "img/right_arrow.gif" %} alt="" title="" border="0" /></a>
        </div>
    </div>
</div>
<div class="right_content">
    <div class="title">Новости</div>
    <div class="right_news">
        <div class="news_date">16.01</div>
        <div class="news_content">
            <span class="red">Тема доклада 1 </span><br/>
            Описание
        </div>
    </div>
    <div class="right_news">
        <div class="news_date">30.02</div>
        <div class="news_content">
            <span class="red">Тема доклада 2</span><br/>
            Описание
        </div>
    </div>
    <div class="right_news">
        <div class="news_date">30.03</div>
        <div class="news_content">
            <span class="red">Тема доклада 3</span><br/>
            Описание
        </div>
    </div>
    <div class="right_news">
        <div class="news_date">17.04</div>
        <div class="news_content">
            <span class="red">Тема доклада 4</span><br/>
            Описание
        </div>
    </div>
</div>



{% endblock%}

